.landingpage {
  display        : grid;
  justify-content: center;
  align-content  : center;
  height         : 100vh;
  color          : white;

  .recipe-select-item {
    display        : grid;
    justify-content: space-between;
    align-items    : center;
    grid-auto-flow : column;

    &>.country {
      display       : grid;
      gap           : 6px;
      grid-auto-flow: column;
      align-items   : center;

      img {
        width : 24px;
        height: 24px;
      }
    }

    &>.info {
      display       : grid;
      gap           : 10px;
      grid-auto-flow: column;
      align-items   : center;

      &>.volume {
        color: #AEB5C1;
      }

      &>.divider {
        width           : 1px;
        background-color: #1F2A44;
        height          : 100%;
      }
    }
  }

  // font-family: 'Helvetica Neue';
  &>.container {
    position      : relative;
    display       : flex;
    flex-direction: column;
    padding       : 24px;
    gap           : 20px;
    max-width     : 410px;
    min-width     : 410px;
    height        : 630px;
    background    : #0D1119;
    border-radius : 10px;



    &>.iconbar {
      display              : grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content      : space-between;
      align-items          : center;

      &>.flag {
        display              : grid;
        grid-template-columns: max-content 1fr;
        gap                  : 10px;

        img {
          width : 24px;
          height: 24px;
        }

        &>.recipe {
          display    : flex;
          font-size  : 14px;
          white-space: nowrap;
        }
      }

      &>.icon-btn-group {
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content      : space-between;
        align-items          : center;

        &>.socials {
          display              : grid;
          grid-template-columns: repeat(3, 1fr);
          gap                  : 5px;

          img {
            width : 24px;
            height: 24px;
          }
        }

        &>.btn-add {
          display      : grid;
          justify-items: center;
          align-items  : center;
          white-space  : nowrap;
          padding      : 0 7px 0 7px;
          width        : 89px;
          height       : 24px;
          font-weight  : 400;
          font-size    : 13px;
          background   : #171F2F;
          border-radius: 4px;
          color        : white;

          &:hover {
            background: #313545;
            cursor    : pointer;
          }
        }
      }
    }

    &>.description {
      display      : grid;
      padding      : 10px;
      background   : #313545;
      border-radius: 6px;

      &>.body {
        display      : grid;
        padding      : 20px;
        border-radius: 6px;

        &>.header {
          display              : grid;
          grid-template-columns: max-content 1fr;
          gap                  : 12px;

          img {
            width : 30px;
            height: 30px;
          }

          &>.title {
            display      : grid;
            align-items  : center;
            justify-items: left;
            color        : #1E202C;
            font-weight  : 700;
            font-size    : 18px;
            line-height  : 24px;
            font-size    : 20px;
            white-space  : nowrap;
          }
        }

        &>.content {
          text-align : left;
          color      : #1E202C;
          font-weight: 400;
          font-size  : 16px;
          line-height: 24px;
          line-height: 24px;


        }
      }
    }

    &>.ingredient {
      padding       : 13px 24px;
      display       : flex;
      flex-direction: column;
      background    : #131823;
      box-shadow    : 0px 2px 6px rgba(5, 16, 55, 0.1);
      border-radius : 6px;
      gap           : 10px;

      &>.row {
        display              : grid;
        grid-template-columns: 1fr 1fr;
        width                : 100%;

        &>.element {
          display           : grid;
          align-items       : center;
          grid-template-rows: 1fr 1fr;

          .upper {
            display      : grid;
            align-items  : center;
            justify-items: left;
            color        : #737992;
            font-size    : 13px;
            line-height  : 24px;
            white-space  : nowrap;
          }

          .lower {
            display      : grid;
            align-items  : center;
            justify-items: left;
            color        : #FFFFFF;
            font-weight  : 500;
            font-size    : 16px;
            line-height  : 19.54px;
            white-space  : nowrap;
          }

          .sunfire {
            font-weight            : 500;
            font-size              : 16px;
            line-height            : 19.54px;
            background             : linear-gradient(136.39deg, #FFBF43 3.18%, #FF4869 102.04%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip        : text;
          }

          .foliage {
            font-weight            : 500;
            font-size              : 16px;
            line-height            : 19.54px;
            background             : linear-gradient(136.39deg, #2BF1E5 3.18%, #40E33D 102.04%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip        : text;
          }

          .red {
            color      : red;
            font-weight: 500;
            font-size  : 16px;
            line-height: 19.54px;
            white-space: nowrap;
          }
        }
      }
    }
  }
}